<footer>
    <div class="footer-container">
        <!-- Footer Logo -->
        <div class="footer-logo">
            <img src="/Footer-Logo.png" alt="Logo">
        </div>

        <!-- Quick About -->
        <div class="footer-about">
            <h1>About</h1>
            <p>Welcome to Bookmark'd, your personal space to organize, review, and cherish every book you read. 
                We believe every book tells a story, and every reader’s journey through those pages is unique. 
                Whether you're a lifelong bibliophile or someone just starting to explore the world of books, Bookmark'd helps you track your reads, share notes, and store memories of your favorite literary adventures. 
                With a simple and intuitive interface, our mission is to make managing your reading collection as enjoyable as the act of reading itself. 
                Join us in turning every page into a new discovery!
            </p> 
        </div>
    </div>
    <hr>    
    <!-- Copyright Section -->
    <div class="footer-copyright">
        <ul>
            <li class=""><a class="" href=""><img src="/twitter.png" alt=""></a></li>
            <li class=""><a class="" href=""><img src="/instagram.png" alt=""></a></li>
            <li class=""><a class="" href=""><img src="/linkedin.png" alt=""></a></li>
        </ul>
        <p>&copy; 2024 Bookmark'd. All Rights Reserved.</p>
        <p>Last updated: October 2024</p>
        <p>All opinions expressed are personal and do not reflect those of authors or publishers.</p>
    </div>
</footer>
</body>
</html>